.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    margin-top: 10px;
    position: relative;
}

.rotated-text {
    transform: rotate(-90deg);
    transform-origin: 0 0;
    white-space: nowrap;
    color :rgb(10, 192, 224);;
    padding: 0px;
}

.horizontal-line {
    position: absolute;
    top: 35%;
    width: 50px;
    height: 3px; /* Adjust the height as needed */
    background-color: rgb(10, 192, 224); /* You can change the line color */
    margin-left: 80px; /* Adjust the spacing between text and line */
}
